{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Fuel Watch</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>Fuel!</h1>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
  <script type="text/javascript">
    var checkList = document.getElementById("suburb-filter-list");
    var items = document.getElementById("items");
    checkList.getElementsByClassName("anchor")[0].onclick = function(evt) {
      if (items.classList.contains("visible")) {
        items.classList.remove("visible");
        items.style.display = "none";
      } else {
        items.classList.add("visible");
        items.style.display = "block";
      }
    };

    items.onblur = function(evt) {
      items.classList.remove("visible");
    };
  </script>
</html>
