{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

      <form action="" method="get">
          <div id="suburb-filter-list" class="dropdown-check-list" tabindex="100">
            <span class="anchor">Suburbs</span>
              <div>
                <ul id="items" class="items">
                  {% for choice in filter.form.fuel_station__suburb %}
                    <li>{{ choice.tag }} {{ choice.choice_label }} </li>
                  {% endfor %} 
              </ul>
            </div>
        </div>
          </div>
        <input type="submit" />
      </form>
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
        {% for f in filter.qs %}
        <tr>
          <td>{{ f.fuel_station.trading_name }}</td>
          <td>{{ f.price }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>

{% endblock %}
